/* Primary Attributes */
:root{
    --primary-color:#c72727;
    --secondary-color:#f99500;
    --light-color:#d2d2d2;
    --dark-color:#333;
    --max-width:1500px;
    /* Logo Colors */
    --facebook-logo:#3c5a99;
    --twitter-logo:#1D9BF0;
    --instagram-logo: linear-gradient(135deg,#405DE6,#5851D8,#833AB4,#C13584,#E1306C,#FD1D1D,#F56040,#F77737,#FCAF45,#FFDC80);
    --youtube-logo:#FF0000;
}

/* Category Colors */
.category{
    --sports-color:#f99500;
    --ent-color:#a66bbe;
    --tech-color:#009cff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato',sans-serif;
    line-height: 1.5;
    background-color: var(--light-color);
}

a{
    color: #333;
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    margin-top: .7rem;
    font-size: 1.2rem;
}

img{
    width: 100%;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Staatliches', cursive;
    margin-bottom: .55rem;
    line-height: 1.3;
}

/* Utility */
.marg{
    margin-left: .5rem;
}

.indent{
    text-indent: 1rem;
}

.bg-primary{
    color: #fff;
    background-color:var(--primary-color) !important;
}
.bg-primary{
    color: #fff;
    background-color:var(--secondary-color) !important;
}

.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}

.btn-primary{
    color: #fff !important;
    background-color: var(--primary-color) !important;
}

.btn-secondary{
    color: #fff !important;
    background-color: var(--secondary-color) !important;
}


.container{
    margin: 0 auto;
    padding: 0 1.5rem;
    overflow: hidden;
    max-width: var(--max-width);
}

.card{
    background-color: white;
    padding: 1rem;
}

.category-sports{
    background-color: var(--sports-color);
}

.category-ent{
    background-color: var(--ent-color);
}

.category-tech{
    background-color: var(--tech-color);
}

.btn{
    display: inline-block;
    border: none;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: .5rem .6rem;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 1rem;
}

.btn:hover{
    opacity: .8;
}

/* Navigation */
#main-nav{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container{
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

/* Nav Logo */
#main-nav .logo{
    width: 180px;
}

#main-nav  ul{
    display: flex;
    justify-self: end;
    gap: 20px;
}

#main-nav ul li a{
    font-weight: bold;
}

#main-nav ul li a.current{
    background: var(--primary-color);
    padding: .75rem;
    color: #fff;
}

#main-nav ul li a.current:hover{
    background-color: var(--light-color);
    color: var(--dark-color);
}

#main-nav .social,
#main-nav .social i{
    justify-self: center;
    color: #777;
    margin-right: .5rem;
}

/* Hover Logo Colors */
#main-nav .social i.fa-facebook:hover{
    color: #3c5a99;
}

#main-nav .social i.fa-twitter:hover{
    color: #1D9BF0;
}

#main-nav .social i.fa-instagram:hover{
    background: var(--instagram-logo);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#main-nav .social i.fa-youtube:hover{
    color: var(--youtube-logo);
}

/* Showcase */
.showcase{
    color: #fff;
    padding: 2rem;
    background-color: var(--dark-color);
    position: relative;
}

.showcase::before{
    content: "";
    background: url(image_resources/featured.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    left: 0%;
    opacity: .4;
}

.showcase .showcase-container{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}

.showcase .showcase-content{
    z-index: 1;
}

.category{
    display: inline-block;
    text-align: center;
    margin-bottom: .5rem;
    padding: .2rem .6rem;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
}

/* Home Articles */
#home-articles .articles-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    grid-column: 1/span 2;
    align-items: center;
}

#home-articles .articles-container > *:last-child{
    grid-column: 2/span 2;
}

/* Home Articles 2nd/6th Design */
#home-articles .articles-container>*:nth-child(2),
#home-articles .articles-container>*:nth-child(2) a{
    background-color: var(--dark-color);
    color: #fff;
}

#home-articles .articles-container>*:nth-child(6),
#home-articles .articles-container>*:nth-child(6) a{
    background-color: var(--primary-color);
    color: #fff;
}



/* Footer */

.main-footer{
    background-color: var(--dark-color);
    color: #fff;
    margin-top: 10px;
    padding: 20px 0;
}

.main-footer img{
    width: 150px;
    margin-bottom: .7rem;
}

.main-footer a{
    color: white;
}

.main-footer .footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr .6fr 1fr;
    gap: 3rem;
}


.main-footer .footer-container > *:last-child{
    background-color: #444;
    grid-column: 1/span 4;
    padding: .5rem;
    text-align: center;
    font-size: 0.75rem;
}

.main-footer .footer-container > {
    margin-top: 10px;
}

.main-footer .footer-container > div > h3{
    font-size: 1.5rem;
}

/* Form Style */
.main-footer .footer-container input[type='email']{
    width: 95%;
    margin-top: .7rem;
    padding: .5rem;
}

.main-footer .footer-container input[type='email']:focus{
    outline-color: var(--primary-color);
}

.main-footer .footer-container input[type='submit']{
    width: 95%;
    padding: .5rem;
    margin-bottom: .5rem;
}

/* Input Style */
.main-footer .footer-container > div > form > *:first-child{
    padding: .5rem;
    margin-right: .6rem;
}

/* Link Hover */
.main-footer .footer-container > div > ul > li >a{
    font-size: 1.2rem;
}

.main-footer .footer-container > div > ul > li >a:hover{
    color: var(--primary-color);
}
/* About Page */
.page-container{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 1rem;
}

.page-container > *:first-child{
    grid-row: 1 /span 3 ;
}

/* Article Page */
.title{
    font-size: 3rem;
}

.writer{
    display: flex;
    align-items: center;
    height: 3rem;
    justify-content: space-between;
    background-color: lightgray;
    border-radius: .8rem;
    padding: 0 1rem;
}

.writer > .category{
    margin-top: .5rem;
}

small{
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}


.list li{
    border-bottom: var(--dark-color) 1px solid;
    width: 90%;
    margin: 1rem 0;
    padding-bottom: .5rem;
}

.list a:hover{
    color: var(--primary-color);
}